@media (max-width: 767px) {
	.grid {
		display: flex;
		flex-flow: column wrap;
	}
	.container {
		flex-flow: column wrap;
	}
	.hide {
		display: none !important;
	}
	.show,
	.hide {
		transition: var(--main-transition);
	}

	.navbar .nav {
		flex-flow: column;
		position: absolute;
		right: 0;
		top: 10%;
		background: white;
		width: 75%;
		height: 100%;
		justify-content: stretch;
		padding-left: 20px;
	}
	.navbar .nav li:hover {
		padding-left: 50px;
	}
	.navbar .mob-nav {
		display: block;
	}
}
